<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthymedium.arc.library">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="false" >

        <receiver android:name="com.healthymedium.arc.notifications.NotificationAutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <receiver android:name="com.healthymedium.arc.notifications.NotificationReceiver">
        </receiver>

        <service android:name="com.healthymedium.arc.notifications.NotificationNotifyJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <service android:name="com.healthymedium.arc.notifications.NotificationScheduleJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <service android:name="com.healthymedium.arc.heartbeat.HeartbeatJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <service android:name="com.healthymedium.arc.study.AbandonmentJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

    </application>




</manifest>
